In [150]:
#astr 350L
#fall 2023
#Lab 001

In [151]:
#packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import math

In [152]:
#FUNCTIONS:

#absolute magnitude to flux density:
def fluxDens(intIndex , strCol):
    jy = 3631   #janskys
    abMag = df.loc[intIndex , strCol]
    eVar = math.exp(-(2 * abMag)/5)
    fluxDens = jy * eVar
    return (fluxDens)

#places result in df:
def dfInsert(intIndex , strColFlux ,val):
    df.at[ intIndex , strColFlux ] = val

#combines func fluxDens and func dfInsert to make fun that finds flux density and then input it into the df
def dfFluxDens (intIndex , strCol):
    jy = 3631   #janskys
    abMag = df.loc[intIndex , strCol]
    eVar = math.exp(-(2 * abMag)/5)
    fluxDens = jy * eVar

    strColFlux = strCol + 'f'

    df.at[ intIndex , strColFlux ] = fluxDens

In [153]:
#import table for reading as dataframe(df)
df = pd.read_csv('C:\\Users\\Andrew\\PycharmProjects\\Astr350L\\ASTR350L-001 - PANDAS DOWNLOAD.csv')
df

,Unnamed: 0,W1,W2,W3,W4,U,B,V,R,I,J,H,K,u,g,r,i,z
0,Spica,NaN,NaN,NaN,NaN,0.59,0.65,0.99,1.27,1.75,2.410,2.930,3.490,NaN,NaN,NaN,NaN,NaN
1,Arcturus,NaN,NaN,NaN,NaN,3.25,1.09,-0.03,-0.82,-1.23,-1.342,-1.420,-1.061,NaN,NaN,NaN,NaN,NaN
2,Proxima Centauri,NaN,NaN,NaN,NaN,15.00,12.86,11.15,9.66,7.86,6.267,6.225,6.234,NaN,NaN,NaN,NaN,NaN
3,BP Tau,NaN,NaN,NaN,NaN,NaN,13.04,12.14,12.10,NaN,10.008,9.610,9.586,NaN,12.65,11.570,10.98,NaN
4,V347 Aurigae,9.86,9.601,9.01,7.941,NaN,NaN,NaN,NaN,NaN,10.900,10.215,9.912,NaN,NaN,NaN,NaN,NaN
5,3C 273,NaN,NaN,NaN,NaN,NaN,12.96,14.85,14.32,NaN,12.602,12.343,11.787,13.859,12.99,12.871,12.63,13.242

In [154]:
#making df for each star:
spicaDf = df.iloc[[0]]

arcturusDf = df.iloc[[1]]

proximaCentauriDf = df.iloc[[2]]

bpTauDf = df.iloc[[3]]

v437Aurigae = df.iloc[[4]]

star3c273 = df.iloc[[5]]

In [155]:
#Filter bandwidths in micrometer (um) converted to meter:
#source: https://coolwiki.ipac.caltech.edu/index.php/Central_wavelengths_and_zero_points , https://www.physics.unlv.edu/~jeffery/astro/photometry/photometry_sdss.html

W1 = 3.4 * 10**(-6)
W2 = 4.6 * 10**(-6)
W3 = 12 * 10**(-6)
W4 = 22 * 10**(-6)
U = 0.36 * 10**(-6)
B = 0.44 * 10**(-6)
V = 0.55 * 10**(-6)
R = 0.71 * 10**(-6)
I = 0.79 * 10**(-6)
J = 1.235 * 10**(-6)
H = 1.662 * 10**(-6)
K = 2.159 * 10**(-6)
u = 0.356 * 10**(-6)
g = 0.470 * 10**(-6)
r = 0.617 * 10**(-6)
i = 0.753 * 10**(-6)
z = 0.878 * 10**(-6)

In [156]:
# # finding flux density with ab wavelength and filter wavelength:
#
# # def fluxDens(fLam , lam):
# #     c = 3*10**8 # (m/s)
# #     fV = ((lam ** 2 ) / c ) * fLam
# #     return (fV)
#
#
# #convert meter to attometer (1*10**(-18))
#
# def attometerConvert(meter):
#     atto = 1*10**(18)
#     conv = meter * atto
#     return (conv)

In [157]:
# adding new columns to dataframe to append flux densities:

# adding blank columns to df
df['W1f'] = np.nan
df['W2f'] = np.nan
df['W3f'] = np.nan
df['W4f'] = np.nan
df['Uf'] = np.nan
df['Bf'] = np.nan
df['Vf'] = np.nan
df['Rf'] = np.nan
df['If'] = np.nan
df['Jf'] = np.nan
df['Hf'] = np.nan
df['Kf'] = np.nan
df['uf'] = np.nan
df['gf'] = np.nan
df['rf'] = np.nan
df['if'] = np.nan
df['zf'] = np.nan


#rearrange columns in df

df = df[['W1', 'W1f' , 'W2', 'W2f' , 'W3' , 'W3f' , 'W4' , 'W4f' , 'U' , 'Uf' , 'B' , 'Bf' , 'V' , 'Vf' , 'R' , 'Rf' , 'I' , 'If' , 'J' , 'Jf' , 'H' , 'Hf' , 'K' , 'Kf' , 'u' , 'uf' , 'g' , 'gf' , 'r' , 'rf' , 'i' , 'if' , 'z' , 'zf']]

In [158]:
df = df.fillna('')

In [159]:
# #calculate flux density for each star and filter:
#x = df.loc[4,'W1']
# densEx = fluxDens(x,W1)
# attoEx = attometerConvert(densEx)
# print(densEx, attoEx)
# df.at[4,'W1f'] = attoEx
# df

In [160]:

# #test:
# test = fluxDens(x)
# test
# #df.at[4,'W1f'] = test
# df




#
# dfInsert(4,'W1f',test)
# df

In [212]:
index =5
column = 'i'
dfFluxDens( index, column)
df

,W1,W1f,W2,W2f,W3,W3f,W4,W4f,U,Uf,...,u,uf,g,gf,r,rf,i,if,z,zf
0,,,,,,,,,0.59,2867.693627,...,,,,,,,,,,
1,,,,,,,,,3.25,989.562941,...,,,,,,,,,,
2,,,,,,,,,15.0,9.000349,...,,,,,,,,,,
3,,,,,,,,,,,...,,,12.65,23.040727,11.57,35.49044,10.98,44.937084,,
4,9.86,70.334566,9.601,78.012055,9.01,98.816379,7.941,151.542084,,,...,,,,,,,,,,
5,,,,,,,,,,,...,13.859,14.205985,12.99,20.110928,12.871,21.091358,12.63,23.225792,13.242,18.182569

In [225]:
#preserving df with flux densitys added and removing string blanks cells for plotting:
dfFluxCopy = df.copy()
dfFluxCopy = dfFluxCopy.mask(dfFluxCopy == '')
dfFluxCopy

,W1,W1f,W2,W2f,W3,W3f,W4,W4f,U,Uf,...,u,uf,g,gf,r,rf,i,if,z,zf
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.59,2867.693627,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.25,989.562941,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,15.0,9.000349,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,12.65,23.040727,11.57,35.49044,10.98,44.937084,NaN,NaN
4,9.86,70.334566,9.601,78.012055,9.01,98.816379,7.941,151.542084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.859,14.205985,12.99,20.110928,12.871,21.091358,12.63,23.225792,13.242,18.182569